 *{
  padding: 0;
  margin: 0;
 }
 .searchinput{
  border: none;
  box-shadow: 5px 5px 8px gray;
  border-radius: 18px;
  padding-left: 20px;
  width: 270px;
  height: 40px;
  
 }
 .bottomContent{
    margin-top: 80px;
 }
 .bottomContent h5{
    color: rgb(106, 104, 104);
 }
 .dropDown{
   height: 80px;
   width: 50px;
   background: white;
   position: absolute;
   margin-bottom: 120px;
   right: 18px;
   border-radius: 10px;
   box-shadow: 10px 10px 5px gray;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
 }

 img{
   position: relative;
   left: 27rem;
   top: 5rem;
   height: 22rem;
   width: 22rem;
 }
 .nodata h1{
   padding-top: 5rem;
    padding-left: 21rem;
 }
 #root{
   background-color: #a7cee4;
 }